# Kök dizindeki tüm dosya ve klasörleri yoksay
/*

# flexbox-odev klasörünü dahil et
!/flexbox-odev/

# Yönlendirme için ana dizindeki index.html dosyasını dahil et
!/index.html

# .gitignore dosyasının kendisini de dahil et
!.gitignore
